{% extends base %}

{% block title %}
Create category
{% endblock title %}

{% block content %}
<form action="" method="post">
        <input type="text" placeholder="name" name="name">
        <select name="parent_category_id">
            <option value="-1" selected>-</option>
            {% categories_list : for cat in categories %}
            <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor categories_list %}
        </select>
        <input type="submit">
</form>
{% endblock content %}